<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/img/icon.png">
  <title>Weather</title>
</head>

<body>
  <div class="main-content">
      {{>header}}
      <p>Use this site to get your weather</p>

      <form class="">
        <input placeholder="Location" type="text" name="" value="">
        <button type="submit" name="button">Search</button>
      </form>

      <p id="msg-1"></p>
      <p id="msg-2"></p>
  </div>

  {{>footer}}

  <script src="/js/index.js" charset="utf-8"></script>
</body>

</html>
